################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BubbleBobbleEngine/.vs/Minigin/v16
